// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.carousel-item img
{
    width: 540px;
    height: 500px;
    border-radius: 10px;
}

// #carouselExampleIndicators .carousel-inner .carousel-item
// {
//     background: url(https://image.freepik.com/free-vector/dating-app-concept-with-man-woman_23-2148537265.jpg);
//     background-size: cover;
// }

.outer-layer
{
    background-color: #BEC5AD;
}

.container
{
    max-width: 500 !important;
    margin: auto;
    font-family: sans-serif;
    letter-spacing: 0.5px;
    padding: 0% !important;
    height: auto;
}

.card-body
{
    padding: 0px;
}

.navbar-brand a
{
    color: blueviolet;
}

.nav-item a
{
    color:red;
}

.form-check-input
{
    width: 16px !important;
    top: -18px;
}

.card-header
{
    padding: 0px !important;
    border-bottom: 0px !important;
}

.form-check-label
{
    margin-left: 5px;
}
.private-chat-section
{
    width:  100% !important;
    padding: 0% !important;
    height: auto;
}

.chat-header.row
{   width: 558 !important;
    border: 0px solid #ccc;
    border-bottom: none;
    background-color: #7DDE92 !important;
    width: 100% !important;
    padding-left: 0px;
    margin-left: 0%;
    margin-right: 0%;
    height: auto;
}

.img-area.col-md-6
{
    width: 100%;
}

.profile-image-here
{
    width: 80px;
    height: 80px;
    float: left;
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 5px;

}

.profile-image-here img
{
 width: 70px;
 border-radius: 50%;
 margin-right: 0px;
height: 70px;
}

.show-status

{
  width: auto;
  margin-top: 20px;
  float: left;
  padding-left: 15px;
}

.show-status h5
{
color: #423e37;
margin-bottom: 0%;
font-size: 20px;
}

.show-status h6
{
font-size: 10px;
color: #423e37;
}

.chat-header-icon
{
    width: auto;
    display: flex;
    padding: 0% !important;
    font-size: 25px;
}

.chat-header-icon i
{
    color: #FEF9FF;
    cursor: pointer;
    width: auto;
    padding: 5px;
    padding-top: 20px;
    display: inline-block;
}

.nav-item
{
    list-style-type: none;
}

.toggle-btn
{
    padding-top: 10px;
    width: auto;
    float: left;
    margin-left: 10px;
}

.bar-icon
{
    width: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    float: right;
    color: #011638;
}

.dropdown-content
{
    padding-left: 5px;
}

.chat-area
{
    display: flex;
    height: auto;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 10px;
    width: 100%;
}

.conversation
{
    display: flex;
    width: 100%;

}

.msg-provider
{
    width: 80% !important;
}


.chat-output-box
{
    width: 100% !important;
    overflow: hidden;
    padding: 10px !important;
    height: 100%;
    max-height: 600px;
    overflow: scroll;
    background-color: #FEF9FF;
    color: #001514;
}


.chat-border
{
    border-radius: 20px !important;
    height: 565px;
    position: inherit;
}

.card
{
    border: 0px !important;
}

ul
{
    padding: 0px !important;
}

.contact-search
{
    background: #EFEFF0;
}

ul.message
{
    list-style-type: none;
    width: 100%;
    padding: 5px;

}

.received
{
    text-align: right;
}

.received li
{
    background-color: #7f9183;
    border-radius: 5px;
    display: inline-block;
    max-width: 210px;
    padding-right: 10px;
    padding-left: 5px;
    margin: 10px;
}

.sent
{
        text-align: left;
}

.sent li
{
    background-color: #d0e3c4;
    border-radius: 5px;
    display: inline-block;
    max-width: 210px;
    padding-left: 5px;
    padding-right: 10px;
    margin: 10px;
}

.contact.card-body
{
    background-color: #f8ffe5;
}

.btn
{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
}

.contact-list
{
   margin-left: 5px;
   width: 20% !important;

}

.contact ul
{
    list-style-type: none;
    padding-left: 0;
    height: 100%;

}

.selected
{
    background-color: #C7CCB9;
}

.placeholder
{
    display: flex;
    border-bottom: 1px solid #BDC696;
    padding: 2px;
    height: 100px;
    position: relative;
    cursor: pointer;
}

.placeholder img
{
    width: 50px;
    display: flex;
    align-items: center;
    border-radius: 50%;
    margin-right: 15px;
    align-items: center;
    margin-top: 20px;
    margin-left: 5px;
}

.contact.card-body
{
    max-height: 600px;
    overflow: scroll;
    overflow-x: hidden;
    padding: 0px;
}

.contact
{
    width: 100%;
}

.contact p
{
    width: 70%;
    margin-bottom: 5px;
    overflow: hidden;
    margin-left: 5px;
    font-size: 10px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #423e37;

}

p.name
{
    font-weight: bold;
}

span.unread
{
    background: #35281d;
    color: white;
    position: absolute;
    right: 11px;
    top: 25px;
    display: flex;
    font-weight: 700;
    min-width: 20px;
    justify-content: center;
    align-items: center;
    line-height: 20px;
    font-size: 11px;
    padding: 0 4px;
    border-radius: 5px;
}

.chat-input-area
{
    height: 5rem;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 2px !important;
    padding-bottom: 2px;
    background-color: #7DDE92;
    width: 100%;
}

.input-field
{
    width: 100% !important;
    margin-right: 3px;
    border-radius: 10px !important;
    border: 2px;
    padding: 2px;
    height: auto;
    margin-top: 8px;
}

input {
    border-radius: 10px;
    height: 3rem;
    width: 100% !important;
}

.input-field-icon
{
    width: 30%;
    padding-left: 10px;
    padding-top: 12px;
    float: right;
    color: black;
}

.input-field-icon i
{
    cursor: pointer;
}

.msg-input
{
    padding: 0px !important;
    display: flex;
    width: 80%;
    background-color: #f9f8f8;
    border-radius: 10px;
}


center
{
    padding-top: 15px;
}

.footer
{
    background: #F5F1E3;
}
